name: Release

permissions:
  contents: write

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    tags:
      - "v*.*.*"

jobs:
  build_plugin:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    steps:
      - name: set git global safe directory
        run: |
          pacman -Syu git npm --noconfirm
          git config --global --add safe.directory $(realpath .)

      - uses: actions/checkout@v3

      - name: build plugin
        run: |
          npm i -g pnpm@8.5.1
          pnpm install --no-frozen-lockfile
          pnpm update decky-frontend-lib --latest
          pnpm run build
          tar -czvf SimpleDeckyTDP.tar.gz --transform 's,^,SimpleDeckyTDP/,' dist backend py_modules bin *.py *.json *.md *.js LICENSE
        continue-on-error: true

      - name: show files
        run: |
          tar -tzvf SimpleDeckyTDP.tar.gz

      - name: Publish Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: SimpleDeckyTDP
          path: SimpleDeckyTDP.tar.gz

  publish:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    needs: build_plugin
    steps:
      - run: mkdir /tmp/artifacts

      - name: download artifact
        uses: actions/download-artifact@v3
        with:
          path: /tmp/artifacts

      - run: ls -R /tmp/artifacts

      - name: publish to github release
        uses: softprops/action-gh-release@v1
        with:
          files: /tmp/artifacts/SimpleDeckyTDP/SimpleDeckyTDP.tar.gz
          tag_name: ${{ github.ref_name }}
          body: |
            SimpleDeckyTDP
          draft: false
          prerelease: contains(github.ref, 'pre')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
